<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>
    <di style="padding: 20px; bolder: solid medium green; font-size:20pt">
        @RenderBody()
    </di>
</body>
</html>
