<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>ОАО "Добро пожаловать"</h1>
    <link href="@Url.Content("WebMVCR1/Content/Site.css")" rel="stylesheet" type="text/css" />
        <div>
    @RenderBody()
    </div>
</body>
</html>
